<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue1026.js">
        
</script>
<style>
    #tb{
        width: 800px;
        border-collapse: collapse;
        margin: 20px auto;
    }
   #tb th{
			background-color: #0094ff;
			color:white;
			font-size: 16px;
			padding: 5px;
			text-align: center;
			border: 1px solid black;
		}
		#tb td{
		
			padding: 5px;
			text-align: center;
			border: 1px solid black;
		}
</style>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="id">
            <input type="text" v-model="pname">
            
            <button @click="addData">添加数据</button>
            <input type="text" placeholder="请输入要搜索的内容" v-model="sname">
        </div>
        <table id="tb">
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr v-if="list.length==0">
                <td colspan="4">当前列表无数据</td>
            </tr>
             <tr v-for="item in list | filterBy sname in 'name'">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime | datefmt}}</td>
                <td><a href="javascript:void(0)" @click="delData(item.id)">删除</a></td>
            </tr>
        </table>
    </div>
    <script>
         Vue.filter('datefmt',function(input){
                    var res="";
                    var year=input.getFullYear();
                    var month=input.getMonth()+1;
                    var day=input.getDate();
                    res=year+'-'+month+'-'+day;
                    return res;
            });
            new Vue({
                el:'#app',
                data:{
                    list:[
                        {id:1,name:'奔驰',ctime:new Date},
                        {id:2,name:'宝马',ctime:new Date},
                        {id:3,name:'法拉利',ctime:new Date},
                        {id:4,name:'宾利',ctime:new Date}
                    ],
                    id:'',
                    pname:'',
                    sname:''
                },
                methods:{
                    addData:function(){
                        var p={id:this.id,name:this.pname,ctime:new Date};
                        this.list.push(p);
                        this.id='';
                        this.pname=''
                    },
                    delData:function(id){
                        if(!confirm('是否要删除数据？')){
                            return;
                        }
                    //    splice(删除的索引，删除的元素个数)
                    var index=this.list.findIndex(function(item){
                        return item.id==id
                    });
                    this.list.splice(index,1);
                    }
                }
            })
           
</script>
</body>
</html>